@media (min-width: 1680px){
    main {
        grid-area: main;
        display: grid;
        grid-template-columns: [one] 0.5fr [two] 1fr [three] 1fr [four] 1fr [five] 0.5fr [six];
        gap: 30px;    
    }
    section {    
        grid-column-start: two;
        grid-column-end: four;
    }
    aside {    
        grid-column-start: four;
        grid-column-end: five;
    }
}
@media (min-width: 992px) and (max-width: 1679px){
    main {
        margin-left: 30px;
        margin-right: 30px;
        display: grid;
        grid-template-columns: 1fr 0.3fr;    
        gap: 30px;
    }
}
@media (max-width: 991px){
    main{
        width: 95vw;
        text-align:justify;
    }
    section, aside {
        margin-left: 20px;
    }
}

#general {
    background-color: aquamarine; 
}

.shar {
    width: 400px;
    float: right;
    margin-top: 0;
    transition-duration: 5s;
    transition-property: margin-top;
}

.shar:hover {
    margin-top: -300px;
}
@media (min-width: 992px) and (max-width: 1200px) {
    .shar {
        width: 300px;        
    }
}
@media (max-width: 991px){
    .shar {
        display: none;        
    }
}